header {
  background-color: white;
  color: #fff;
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      padding: 0.5rem;
      img {
        height: 80px;
      }
    }
    .menu {
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      margin: 0 0.5rem;
      padding:0;
      .menu-item {
        a {
          text-decoration: none;
          color: #fff;
          font-size: 1.5rem;
        }
      }
    }
  }
}
